body {
    background-color: hsl(0, 100%, 74%) ;
    background-image: url("/images/bg-intro-desktop.png");

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.container {
    display: flex;
    margin-top: 15vh;
}

h1{
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 1.5rem;
}
.m-left {
    color: white;
    padding: 170px 45px 0px 78px;
    font-weight: 500;
}

.m-right{
    margin-left: 1rem;
    height: 100%;
}

#try-free{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
   
    margin-bottom: 1.5rem;
    font-size: 16px;
    font-weight: 600;
    background-color: hsl(248, 32%, 49%);
    border-color: transparent;;
    border-radius: 10px;
    box-shadow: 0px 8px 1px 0px rgba(209, 90, 90, 0.822);
}

.mPrice {
    margin-left: 0.25em;
    font-weight: 400;

}

.card {
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 8px 1px 0px rgba(209, 90, 90, 0.822);
}

.form-group{
    margin: 0 2.5rem 0 2.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
    
}

.form-group input{
    font-weight: 600;
    font-size: 14px;
    padding: 1rem;
    text-indent: 12px;
}

.form-group input:focus{
    border: 1px solid hsl(249, 10%, 26%);
    box-shadow: none;
}
.form-group input{
    font-weight: 600;
    font-size: 14px;
    padding: 1rem;
    text-indent: 12px;
    
}


.topOne{
    margin-top: 2rem;
}

#claimFree{
    margin-top: 1rem;
    width: 100%;
}


#firstWrong, #lastWrong, #emailWrong, #passWrong{
    display: none;
    width: 100%;
    
    
    text-align: right;
    font-style: italic;

    font-size: 11px;
    font-weight: 500;
    color:hsl(0, 100%, 74%);
    
}

.form-group img{
    display: none;
    margin-top: 5px;
    position: absolute;
    right: 55px;
}

.input-icons {
    
    width: 30px;
    margin-bottom: 10px;
}

.icon {
    
    padding: 10px;
    min-width: 40px;
}

#agreeTerms{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 11px;
    color: hsl(246, 25%, 77%);
}

#termText{
    margin-left: 0.25em;
    font-weight: 700;
    color:hsl(0, 100%, 74%);
}

#claimFree{
    padding: 1rem 0 1rem 0;
    background-color: hsl(154, 59%, 51%);
    border-color: hsl(154, 59%, 51%);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    border: 1px solid hsl(154, 44%, 45%);;
    border-bottom: 3px solid hsl(154, 44%, 45%);
}

#claimFree:hover{
    background-color: hsla(154, 62%, 70%, 0.87);
    border-color: hsla(154, 62%, 70%, 0.87);
    border-bottom: 3px solid hsla(154, 48%, 44%, 0.527);
}

#termText:hover{
    cursor: pointer;
}

/* On screens that are 1000px or less, set the background color to blue */
@media screen and (max-width: 1000px) {
   
    .container{
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding-top: 15vh;
    }

    h1{
        font-size: 24px; 
        
        
    }
    .m-left{
        width: 100%;
        margin: 0;
        padding:0 1rem 4rem 1rem;
        text-align: center;
        
    }

    .m-right{
        width: 100%;
        margin: auto;
    }

    #try-free{
        display: flex;
        flex-direction: column;
        
    }

    #agreeTerms{
        margin: 0.5rem auto 0 0rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: row wrap;

    }

  }