body {
    background-color: hsl(0, 100%, 74%) ;
    background-image: url("/images/bg-intro-desktop.png");

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.container {
    display: flex;
    margin-top: 15vh;
}

h1{
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 1.5rem;
}
.m-left {
    color: white;
    padding: 170px 45px 0px 78px;
    font-weight: 500;
}

.m-right{
    margin-left: 1rem;
}

#try-free{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
   
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 600;
    background-color: hsl(248, 32%, 49%);
    border-color: transparent;;
    border-radius: 10px;
    box-shadow: 0px 8px 1px 0px rgba(209, 90, 90, 0.822);
}

.mPrice {
    margin-left: 0.25em;
    font-weight: 400;
}