body {
    background-color: hsl(0, 100%, 74%) ;
    background-image: url("/images/bg-intro-desktop.png");

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.container {
    display: flex;
    margin-top: 20vh;
}

h1{
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 1.5rem;
}
.m-left {
    color: white;
    padding: 130px 45px 0px 78px;
    font-weight: 500;
}